%h1 Users

%table#users
  %thead
    %tr
      %th Username
      %th Email
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td= link_to 'Show', user
        //%td= link_to 'Edit', edit_user_path //ancora da implementare
         
  
%br
= link_to 'Games list', games_path
