%h2 Details about #{@game.title}
 
%h3 Description:

%p#description= @game.info

= link_to 'Games list', games_path

- if @current_user != nil && @current_user.id == @game.user_id
  = link_to 'Edit game', edit_game_path(@game)
