%h1 Favorite Games

%table#games
  %thead
    %tr
      %th Game Title
      %th Info
  %tbody
    - @favorites.each do |game|
      %tr
        %td= game.title
        %td= link_to "More about #{game.title}", game_path(game), class: "link"


= link_to 'HomePage', games_path, class: "link"